<button type="button" class="{{if (macroCondition (macroGetOwnConfig "isNotBS3")) "navbar-toggler" "navbar-toggle"}} {{if this.collapsed "collapsed"}}" ...attributes {{on "click" this.handleClick}}>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{#if (macroCondition (macroGetOwnConfig "isNotBS3"))}}
      <span class="navbar-toggler-icon"></span>
    {{else}}
      <span class={{if (macroCondition (macroGetOwnConfig "isBS5")) "visually-hidden" "sr-only"}}>Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    {{/if}}
  {{/if}}
</button>