{{#if isVertical}}
    {{#if hasLabel}}
        <label class="control-label">{{label}}</label>
    {{/if}}
    {{bs-input type=inputType value=value placeholder=placeholder}}
    {{#if hasFeedback}}
        <span {{bind-attr class=":form-control-feedback iconName"}} aria-hidden="true"></span>
    {{/if}}
{{/if}}
{{#if isHorizontal}}
    {{#if hasLabel}}
        <label {{bind-attr class=":control-label horizontalLabelGridClass"}}>{{label}}</label>
    {{/if}}
    <div {{bind-attr class="horizontalInputGridClass horizontalInputOffsetGridClass"}}>
        {{bs-input type=inputType value=value placeholder=placeholder}}
    </div>
{{/if}}