{{#ember-wormhole to="ember-bootstrap-modal-container"}}
<div class="modal {{if fade "fade"}} {{if in "in"}}" id="{{modalId}}">
    <div class="modal-dialog {{sizeClass}}">
        <div class="modal-content">
            {{#if header}}
                {{bs-modal-header title=title closeButton=closeButton}}
            {{/if}}
            {{#if body}}
                {{#bs-modal-body}}
                    {{yield}}
                {{/bs-modal-body}}
            {{else}}
                {{yield}}
            {{/if}}

            {{#if footer}}
                {{bs-modal-footer}}
            {{/if}}
        </div>
    </div>
</div>
{{#if showBackdrop}}
<div class="modal-backdrop {{if fade "fade"}} {{if in "in"}}" id="{{backdropId}}"></div>
{{/if}}

{{/ember-wormhole}}