{{#if prompt}}
    <option disabled selected={{bs-not value}}>
        {{prompt}}
    </option>
{{/if}}

{{#each content key="@identity" as |item|}}
    <option value="{{bs-read-path item optionValuePath}}"
            selected={{bs-eq item value}}>
        {{bs-read-path item optionLabelPath}}
    </option>
{{/each}}