{{! @glint-nocheck }}
<div
  class="carousel-item {{if this.active "active"}} {{if this.left (if (macroCondition (macroGetOwnConfig "isBS5")) "carousel-item-start" "carousel-item-left")}} {{if this.next "carousel-item-next"}} {{if this.prev "carousel-item-prev"}} {{if this.right (if (macroCondition (macroGetOwnConfig "isBS5")) "carousel-item-end" "carousel-item-right")}}"
  ...attributes
  {{create-ref "mainNode"}}
  {{did-update this.presentationStateObserver @presentationState @currentSlide}}
>
  {{yield}}
</div>