<h2>
  Simple example
</h2>
<div class="bs-example" data-test-fastboot-container>
  <!-- BEGIN-SNIPPET alert-simple -->
  <BsAlert @type="success">
    <strong> Well done!  </strong> You successfully read this important alert message.
  </BsAlert>
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  <CodeSnippet @name="alert-simple.hbs" />
</div>

<h2>
  Options
</h2>
<div class="bs-example">
  <BsForm @formLayout="inline" @model={{this}} as |form|>
    <form.element
      @controlType="checkbox"
      @label="Show/Hide"
      @property="visible"
      class="mr-2"
     />
    <form.element
      @controlType="checkbox"
      @label="Fade animation"
      @property="fade"
      class="ml-sm-2"
     />

    <form.element
      @controlType="checkbox"
      @label="Dismissible"
      @property="dismissible"
      class="ml-sm-2"
     />
    <form.element
      @controlType="power-select"
      @options={{typeChoices}}
      @label="Type"
      @property="type"
      class="ml-sm-2"
      as |el|
    >
      <el.control @searchEnabled @class="ml-1" />
    </form.element>
    <form.element
      @label="Header tag"
      @property="headerTag"
      class="ml-sm-2"
    />
  </BsForm>
  <hr>
  <!-- BEGIN-SNIPPET alert-options -->
  <BsAlert
    @visible={{visible}}
    @fade={{fade}}
    @type={{type}}
    @dismissible={{dismissible}}
  >
    <strong> Well done!  </strong> You successfully read this important alert message.
  </BsAlert>

  <BsAlert
    @visible={{visible}}
    @fade={{fade}}
    @type={{type}}
    @dismissible={{dismissible}}
    @headerTag={{headerTag}}
  >
    <:header>Well done!</:header>
    <:body>You successfully read this important alert message.</:body>
  </BsAlert>
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  <CodeSnippet
    @name="alert-options.hbs"
    @dynamicProperties={{hash
      visible=visible
      fade=fade
      dismissible=dismissible
      type=type
      headerTag=headerTag
    }}
  />
</div>
