<h2>Checkbox type</h2>

<div class="bs-example" data-test-fastboot-container>
  <!-- BEGIN-SNIPPET button-group-checkbox-demo -->
  <BsButtonGroup
    @value={{buttonGroupValue}}
    @type="checkbox"
    @onChange={{action (mut buttonGroupValue)}} as |bg|>
    <bg.button @value="1">1</bg.button>
    <bg.button @value="2">2</bg.button>
    <bg.button @value="3">3</bg.button>
  </BsButtonGroup>
  <p>You selected:</p>
  <ul>
    {{#each buttonGroupValue as |value|}}
      <li>{{value}}</li>
    {{/each}}
  </ul>
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  <CodeSnippet @name="button-group-checkbox-demo.hbs"/>
</div>
<h2>
  Radio type
</h2>
<div class="bs-example">
  <!-- BEGIN-SNIPPET button-group-radio-demo -->
  <BsButtonGroup
    @value={{buttonGroupValue2}}
    @type="radio"
    @onChange={{action (mut buttonGroupValue2)}} as |bg|>
    <bg.button @value="1">1</bg.button>
    <bg.button @value="2">2</bg.button>
    <bg.button @value="3">3</bg.button>
  </BsButtonGroup>
  <p>You selected: {{buttonGroupValue2}}</p>
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  <CodeSnippet @name="button-group-radio-demo.hbs"/>
</div>
