<div class="bs-example" data-test-fastboot-container>
  <BsButton @active={{this.notCollapsed}} @onClick={{action "toggle"}}>
    {{#if this.collapsed}}
      Show
    {{else}}
      Hide
    {{/if}}
  </BsButton>

  <!-- BEGIN-SNIPPET collapse-demo -->
  <BsCollapse @collapsed={{this.collapsed}}>
    <p class="bg-light p-4 my-4">This is collapsible content</p>
  </BsCollapse>
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  <CodeSnippet
    @name="collapse-demo.hbs"
    @dynamicProperties={{hash collapsed=collapsed}}
  />
</div>