<h2>
  Simple modal
</h2>
<p>
  Use the
  <code>
    &lt;BsModalSimple&gt;
  </code>
  component for Modals with a default layout
</p>
<div class="bs-example">
  <!-- BEGIN-SNIPPET modal-demo -->
  <BsModalSimple
    @open={{this.modal1}}
    @title="Simple Dialog"
    @size="sm"
    @onHidden={{fn (mut this.modal1) false}}>
    Hi there
  </BsModalSimple>
  <!-- END-SNIPPET -->
  <BsButton @onClick={{fn (mut this.modal1) true}}>Open Modal</BsButton>
</div>
<div class="highlight">
  <CodeSnippet
    @name="modal-demo.hbs"
    @dynamicProperties={{hash
      modal1=this.modal1
    }}
  />
</div>
<h3>
  Options
</h3>
<BsForm @formLayout="horizontal" @model={{this}} as |form|>
  <form.element
    @label="Title"
    @property="title"
  />
  <form.element
    @label="Close button"
    @property="closeTitle"
  />
  <form.element
    @label="Submit button"
    @property="submitTitle"
    as |el|
   >
    <el.control placeholder="Enter title to add a submit button"/>
  </form.element>
  <form.element
    @controlType="power-select"
    @options={{this.sizes}}
    @label="Size"
    @property="size" as |el|>
    <el.control @searchEnabled />
  </form.element>
  <form.element
    @controlType="checkbox"
    @label="Close button"
    @property="closeButton"
   />
  <form.element
    @controlType="checkbox"
    @label="Fade"
    @property="fade"
  />
  <form.element
    @controlType="checkbox"
    @label="Backdrop close"
    @property="backdropClose"
   />

</BsForm>
<div class="bs-example bs-example__modal" data-test-fastboot-container>
  <!-- BEGIN-SNIPPET modal-options -->
  <BsModalSimple
    @open={{this.modal2}}
    @title={{this.title}}
    @closeTitle={{this.closeTitle}}
    @submitTitle={{this.submitTitle}}
    @size={{this.size}}
    @closeButton={{this.closeButton}}
    @fade={{this.fade}}
    @backdrop={{this.backdrop}}
    @backdropClose={{this.backdropClose}}
    @onSubmit={{this.submit}}
    @onHide={{this.close}}
    @renderInPlace={{true}}>
    Hi there
  </BsModalSimple>
  <!-- END-SNIPPET -->
  <BsButton @onClick={{this.open}}>Reopen Modal</BsButton>
</div>
<div class="highlight">
  <CodeSnippet
    @name="modal-options.hbs"
    @dynamicProperties={{hash
      modal2=this.modal2
      title=this.title
      closeTitle=this.closeTitle
      submitTitle=this.submitTitle
      size=this.size
      closeButton=this.closeButton
      fade=this.fade
      backdrop=this.backdrop
      backdropClose=this.backdropClose
    }}
  />
</div>
<h2>
  Custom markup
</h2>
<p>
  Use the
  <code>
    &lt;BsModal&gt;
  </code>
  component for custom markup
</p>
<div class="bs-example">
  <!-- BEGIN-SNIPPET modal-custom -->
  <BsModal
    @open={{this.modal3}}
    @onSubmit={{this.submit}}
    @onHidden={{fn (mut this.modal3) false}} as |modal|>
    <modal.header>
      <h4 class="modal-title">
        Custom Dialog
        <div class="badge bg-primary">2</div>
      </h4>
    </modal.header>
    <modal.body>
      <label>
        Search:
        <input type="text" autofocus="autofocus">
      </label>
    </modal.body>
    <modal.footer>
      <BsButton @onClick={{modal.close}}>Cancel</BsButton>
      <BsButton @type="danger">Delete</BsButton>
      <BsButton @type="success" @onClick={{modal.submit}}>Save</BsButton>
    </modal.footer>
  </BsModal>
  <!-- END-SNIPPET -->
  <BsButton @onClick={{fn (mut this.modal3) true}}>Open Modal</BsButton>
</div>
<div class="highlight">
  <CodeSnippet
    @name="modal-custom.hbs"
    @dynamicProperties={{hash
      modal3=this.modal3
    }}
  />
</div>
