<h2>
  Simple modal
</h2>
<p>
  Use the
  <code>
    bs-modal-simple
  </code>
  component for Modals with a default layout
</p>
<div class="bs-example">
  <!-- BEGIN-SNIPPET modal-demo -->
  <BsModalSimple
    @open={{modal1}}
    @title="Simple Dialog"
    @size="sm"
    @onHidden={{action (mut modal1) false}}>
    Hi there
  </BsModalSimple>
  <!-- END-SNIPPET -->
  <BsButton @onClick={{action (mut modal1) true}}>Open Modal</BsButton>
</div>
<div class="highlight">
  <CodeSnippet @name="modal-demo.hbs" />
</div>
<h3>
  Options
</h3>
<BsForm @formLayout="horizontal" @model={{this}} as |form|>
  <form.element @label="Title" @property="title" />
  <form.element @label="Close button" @property="closeTitle" />
  <form.element
    @label="Submit button"
    @placeholder="Enter title to add a submit button"
    @property="submitTitle"
   />

  <form.element
    @controlType="power-select"
    @options={{sizes}}
    @label="Size"
    @property="size" as |el|>
    <el.control @searchEnabled />
  </form.element>
  <form.element
    @controlType="checkbox"
    @label="Close button"
    @property="closeButton"
   />

  <form.element @controlType="checkbox" @label="Fade" @property="fade" />
  <form.element
    @controlType="checkbox"
    @label="Backdrop"
    @property="backdrop"
    @onChange={{action "backdropChange"}}
   />

  <form.element
    @controlType="checkbox"
    @label="Backdrop close"
    @property="backdropClose"
   />

</BsForm>
<div class="bs-example bs-example__modal" data-test-fastboot-container>
  <!-- BEGIN-SNIPPET modal-options -->
  <BsModalSimple
    @open={{modal2}}
    @title={{title}}
    @closeTitle={{closeTitle}}
    @submitTitle={{submitTitle}}
    @size={{size}}
    @closeButton={{closeButton}}
    @fade={{fade}}
    @backdrop={{backdrop}}
    @backdropClose={{backdropClose}}
    @onSubmit={{action "submit"}}
    @onHidden={{action "close"}}
    @renderInPlace={{true}}>
    Hi there
  </BsModalSimple>
  <!-- END-SNIPPET -->
  <BsButton @onClick={{action "open"}}>Reopen Modal</BsButton>
</div>
<div class="highlight">
  <CodeSnippet
    @name="modal-options.hbs"
    @dynamicProperties={{hash
      modal2=modal2
      title=title
      closeTitle=closeTitle
      submitTitle=submitTitle
      size=size
      closeButton=closeButton
      fade=fade
      backdrop=backdrop
      backdropClose=backdropClose
    }}
  />
</div>
<h2>
  Custom markup
</h2>
<p>
  Use the
  <code>
    bs-modal
  </code>
  component for custom markup
</p>
<div class="bs-example">
  <!-- BEGIN-SNIPPET modal-custom -->
  <BsModal
    @open={{modal3}}
    @onSubmit={{action "submit"}}
    @onHidden={{action (mut modal3) false}} as |modal|>
    <modal.header>
      <h4 class="modal-title">
        Custom Dialog
        <div class="badge">2</div>
      </h4>
    </modal.header>
    <modal.body>
      <label>
        Search:
        <input type="text" autofocus="autofocus">
      </label>
    </modal.body>
    <modal.footer>
      <BsButton @onClick={{action modal.close}}>Cancel</BsButton>
      <BsButton @type="danger">Delete</BsButton>
      <BsButton @type="success" @onClick={{action modal.submit}}>Save</BsButton>
    </modal.footer>
  </BsModal>
  <!-- END-SNIPPET -->
  <BsButton @onClick={{action (mut modal3) true}}>Open Modal</BsButton>
</div>
<div class="highlight">
  <CodeSnippet
    @name="modal-custom.hbs"
    @dynamicProperties={{hash
      modal3=modal3
    }}
  />
</div>
