{{! @glint-nocheck }}
{{#let (ensure-safe-component (bs-default @buttonComponent (component "bs-button"))) as |Button|}}
  <div class="modal-footer" ...attributes {{on "submit" (bs-default @onSubmit (bs-noop))}}>
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{#if @submitTitle}}
        <Button @onClick={{@onClose}}>{{bs-default @closeTitle "Ok"}}</Button>
        <Button
          @type={{bs-default @submitButtonType "primary"}}
          @onClick={{@onSubmit}}
          {{bs-conditional-attribute "disabled" @submitDisabled @submitDisabled}}
        >
          {{@submitTitle}}
        </Button>
      {{else}}
        <Button @type="primary" @onClick={{@onClose}}>{{bs-default @closeTitle "Ok"}}</Button>
      {{/if}}
    {{/if}}
  </div>
{{/let}}