{{! @glint-nocheck }}
<label
  class="
    {{if (macroCondition (macroGetOwnConfig "isBS5")) "form-label"}}
    {{if @invisibleLabel (if (macroCondition (macroGetOwnConfig "isBS5")) "visually-hidden" "sr-only")}}
    {{@labelClass}}
    {{if this.isHorizontalAndNotCheckbox "col-form-label"}}
    {{if this.isCheckbox "form-check-label"}}
    {{if (bs-eq "switch" @controlType) (if (macroCondition (macroGetOwnConfig "isBS5")) "form-check-label" "custom-control-label")}}
    {{if this.isHorizontal (bs-size-class "col-form-label" @size)}}"
  for={{@formElementId}}
  ...attributes
>
  {{#if (has-block)}}
    {{yield}}
  {{/if}}
  {{@label}}
</label>
