{{! @glint-nocheck }}
<div
  role="progressbar"
  aria-valuenow={{this.value}}
  aria-valuemin={{this.minValue}}
  aria-valuemax={{this.maxValue}}
  class="progress-bar {{if this.striped "progress-bar-striped"}} {{this.typeClass}} {{if this.animate "progress-bar-animated"}}"
  ...attributes
  {{style width=this.percentStyleValue}}
>
  {{#if this.showLabel}}
    {{#if (has-block)}}
      {{yield this.percentRounded}}
    {{else}}
      {{this.percentRounded}}%
    {{/if}}
  {{else}}
    {{#if (has-block)}}
      <span class={{if (macroCondition (macroGetOwnConfig "isBS5")) "visually-hidden" "sr-only"}}>{{yield this.percentRounded}}</span>
    {{else}}
      <span class={{if (macroCondition (macroGetOwnConfig "isBS5")) "visually-hidden" "sr-only"}}>{{this.percentRounded}}%</span>
    {{/if}}
  {{/if}}
</div>