{{! @glint-nocheck }}
{{#if @renderInPlace}}
  <div
    class="tooltip {{if this.fade "fade"}} {{this.actualPlacementClass}} {{if this.showHelp "show"}}"
    role="tooltip"
    ...attributes
    {{popper-tooltip @popperTarget this.popperOptions}}
    {{create-ref "popperElement"}}
  >
    <div class={{this.arrowClass}}></div>
    <div class="tooltip-inner">
      {{yield}}
    </div>
  </div>
{{else}}
  {{#in-element @destinationElement insertBefore=null}}
    <div
      class="tooltip {{if this.fade "fade"}} {{this.actualPlacementClass}} {{if this.showHelp "show"}}"
      role="tooltip"
      ...attributes
      {{popper-tooltip @popperTarget this.popperOptions}}
      {{create-ref "popperElement"}}
    >
      <div class={{this.arrowClass}}></div>
      <div class="tooltip-inner">
        {{yield}}
      </div>
    </div>
  {{/in-element}}
{{/if}}

