<div class="{{horizontalInputGridClass}} {{horizontalInputOffsetGridClass}}">
  <div class="checkbox">
    <label>
      {{yield}}
      {{label}}
    </label>
  </div>
  {{component errorsComponent}}
</div>