<div class="bs-example" data-test-fastboot-container>
  <BsButton @active={{this.notCollapsed}} @onClick={{action "toggle"}}>
    {{#if this.collapsed}}
      Show
    {{else}}
      Hide
    {{/if}}
  </BsButton>

  <hr>

  <!-- BEGIN-SNIPPET collapse-demo -->
  <BsCollapse @collapsed={{this.collapsed}}>
    <div class="well">
      <p>This is collapsible content</p>
    </div>
  </BsCollapse>
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  <CodeSnippet
    @name="collapse-demo.hbs"
    @dynamicProperties={{hash
      collapsed=collapsed
    }}
  />
</div>
