<h2>Simple form</h2>

<div class="bs-example">
    {{#bs-form formLayout="horizontal" model=this as |form|}}
        {{#form.element label="Layout" property="formLayout" as |el|}}
            {{#bs-button-group value=formLayout type="radio" onChange=(action (mut formLayout)) as |bg|}}
                {{#bg.button value="vertical"}}Vertical{{/bg.button}}
                {{#bg.button value="horizontal"}}Horizontal{{/bg.button}}
                {{#bg.button value="inline"}}Inline{{/bg.button}}
            {{/bs-button-group}}
        {{/form.element}}
    {{/bs-form}}
    <!-- BEGIN-SNIPPET form-demo -->
    {{#bs-form formLayout=formLayout model=this onSubmit=(action "submit") as |form|}}
        {{form.element controlType="email" label="Email" placeholder="Email" property="email" required=true}}
        {{form.element controlType="password" label="Password" placeholder="Password" property="password" required=true}}
        {{form.element controlType="checkbox" label="Remember me" property="rememberMe"}}
        {{form.element controlType="textarea" label="Comments" property="comments"}}
        {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
    {{/bs-form}}
    <!-- END-SNIPPET -->
</div>
<div class="highlight">
    {{code-snippet name="form-demo.hbs"}}
</div>

<h2>Custom Controls</h2>

<div class="bs-example">
    {{#bs-form formLayout="horizontal" model=this as |form|}}
        {{#form.element label="Layout" property="formLayout" as |el|}}
            {{#bs-button-group value=formLayout type="radio" onChange=(action (mut formLayout)) as |bg|}}
                {{#bg.button value="vertical"}}Vertical{{/bg.button}}
                {{#bg.button value="horizontal"}}Horizontal{{/bg.button}}
                {{#bg.button value="inline"}}Inline{{/bg.button}}
            {{/bs-button-group}}
        {{/form.element}}
    {{/bs-form}}
    <!-- BEGIN-SNIPPET form-custom -->
    {{#bs-form formLayout=formLayout model=this onSubmit=(action "submit") as |form|}}
        {{#form.element label="Email" placeholder="Email" property="username" as |el|}}
            <div class="input-group">
                <input value={{el.value}} class="form-control" oninput={{action (mut el.value) value="target.value"}} id={{el.id}} type="text">
                <span class="input-group-addon">@example.com</span>
            </div>
        {{/form.element}}
        {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
    {{/bs-form}}
    <!-- END-SNIPPET -->
</div>
<div class="highlight">
    {{code-snippet name="form-custom.hbs"}}
</div>