<div class="bs-example">
  <BsForm @formLayout="horizontal" @model={{this}} as |form|>
    <Form.element
      @controlType="power-select"
      @options={{typeChoices}}
      label="Type"
      @property="type" as |el|
    >
      <El.control @searchEnabled />
    </Form.element>
    <Form.element
      @controlType="power-select"
      @options={{bgChoices}}
      label="Background"
      @property="bg" as |el|
    >
      <El.control @searchEnabled />
    </Form.element>
    <Form.element
      @controlType="checkbox"
      label="Collapsed (on mobile)"
      @property="collapsed"
      value={{collapsed}}
     />

  </BsForm>
  <hr />
  <!-- BEGIN-SNIPPET navbar-demo -->
  <BsNavbar
    @type={{type}}
    @backgroundColor={{bg}}
    @collapsed={{collapsed}}
    @onCollapse={{action true}}
    @onExpand={{action false}} as |navbar|
  >
    <div class="navbar-header">
      {{navbar.toggle}}
      <LinkTo class="navbar-brand">
        Brand
      </LinkTo>
    </div>
    <Navbar.content>
      <Navbar.nav as |nav|>
        <Nav.item>
          <Nav.linkTo>
            Home
          </Nav.linkTo>
        </Nav.item>
        <Nav.item>
          <Nav.linkTo>
            Navbars
          </Nav.linkTo>
        </Nav.item>
        <Nav.dropdown as |dd|>
          <Dd.toggle>
            Dropdown
            <span class="caret"></span>
          </Dd.toggle>
          <Dd.menu as |ddm|>
            <Ddm.item>
              <Ddm.linkTo>
                Home
              </Ddm.linkTo>
            </Ddm.item>
            <Ddm.item>
              <Ddm.linkTo>
                Navbars
              </Ddm.linkTo>
            </Ddm.item>
          </Dd.menu>
        </Nav.dropdown>
      </Navbar.nav>
    </Navbar.content>
  </BsNavbar>
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  <CodeSnippet @name="navbar-demo.hbs" />
</div>