<div class="bs-example">
  {{#bs-form formLayout="inline" model=this as |form|}}
    {{form.element controlType="checkbox" label="Inverse" property="inverse" value=inverse}}
    {{form.element controlType="checkbox" label="Fluid" property="fluid" value=fluid}}
    {{form.element controlType="checkbox" label="Collapsed (on mobile)" property="collapsed" value=collapsed}}
  {{/bs-form}}
  <hr>
  <!-- BEGIN-SNIPPET navbar-demo -->
  {{#bs-navbar type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
    <div class="navbar-header">
      {{navbar.toggle}}
      {{#link-to "index" class="navbar-brand"}}Brand{{/link-to}}
    </div>
    {{#navbar.content}}
      {{#navbar.nav as |nav|}}
        {{#nav.item}}{{#nav.link-to "index"}}Home{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "demo.navbars"}}Navbars{{/nav.link-to}}{{/nav.item}}
      {{/navbar.nav}}
    {{/navbar.content}}
  {{/bs-navbar}}
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  {{code-snippet name="navbar-demo.hbs"}}
</div>
