<div class="bs-example">
  <BsForm @formLayout="horizontal" @model={{this}} as |form|>
    <form.element
      @controlType="power-select"
      @options={{typeChoices}}
      @label="Type"
      @property="type" as |el|
    >
      <el.control @searchEnabled />
    </form.element>
    <form.element
      @controlType="power-select"
      @options={{bgChoices}}
      @label="Background"
      @property="bg" as |el|
    >
      <el.control @searchEnabled />
    </form.element>
    <form.element
      @controlType="checkbox"
      @label="Collapsed (on mobile)"
      @property="collapsed"
      value={{collapsed}}
     />

  </BsForm>
  <hr>
  <!-- BEGIN-SNIPPET navbar-demo -->
  <BsNavbar
    @type={{type}}
    @backgroundColor={{bg}}
    @collapsed={{collapsed}}
    @onCollapse={{action (mut collapsed) true}}
    @onExpand={{action (mut collapsed) false}} as |navbar|>
    <div class="navbar-header">
      {{navbar.toggle}}
      <LinkTo class="navbar-brand">Brand</LinkTo>
    </div>
    <navbar.content>
      <navbar.nav as |nav|>
        <nav.item>
          <nav.linkTo >Home</nav.linkTo>
        </nav.item>
        <nav.item>
          <nav.linkTo >Navbars</nav.linkTo>
        </nav.item>
        <nav.dropdown as |dd|>
          <dd.toggle>
            Dropdown
            <span class="caret"></span>
          </dd.toggle>
          <dd.menu as |ddm|>
            <ddm.item>
              <ddm.linkTo >Home</ddm.linkTo>
            </ddm.item>
            <ddm.item>
              <ddm.linkTo >Navbars</ddm.linkTo>
            </ddm.item>
          </dd.menu>
        </nav.dropdown>
      </navbar.nav>
    </navbar.content>
  </BsNavbar>
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  <CodeSnippet @name="navbar-demo.hbs" />
</div>
