<div class="bs-example">
  <BsForm @formLayout="inline" @model={{this}} as |form|>
    <Form.element
      @controlType="power-select"
      @options={{typeChoices}}
      label="Type"
      @property="type" as |el|
    >
      <El.control @searchEnabled />
    </Form.element>
    <Form.element
      @controlType="checkbox"
      @disabled={{bs-eq type tabs}}
      label="Stacked"
      @property="stacked"
      @onChange={{action updateStacked}}
     />

    <Form.element
      @controlType="checkbox"
      @disabled={{stacked}}
      label="Justified"
      @property="justified"
     />

    <Form.element
      @controlType="checkbox"
      @disabled={{stacked}}
      label="Fill"
      @property="fill"
     />

  </BsForm>
  <hr />
  <!-- BEGIN-SNIPPET nav-demo -->
  <BsNav
    @type={{type}}
    @justified={{justified}}
    @stacked={{stacked}}
    @fill={{fill}} as |nav|
  >
    <Nav.item>
      <Nav.linkTo>
        Home
      </Nav.linkTo>
    </Nav.item>
    <Nav.item>
      <Nav.linkTo>
        Navs
      </Nav.linkTo>
    </Nav.item>
    <Nav.dropdown as |dd|>
      <Dd.toggle>
        Dropdown
        <span class="caret"></span>
      </Dd.toggle>
      <Dd.menu as |ddm|>
        <Ddm.item>
          <Ddm.linkTo>
            Home
          </Ddm.linkTo>
        </Ddm.item>
        <Ddm.item>
          <Ddm.linkTo>
            Navs
          </Ddm.linkTo>
        </Ddm.item>
      </Dd.menu>
    </Nav.dropdown>
  </BsNav>
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  <CodeSnippet @name="nav-demo.hbs" />
</div>