{{!-- template-lint-disable no-nested-interactive --}}
{{!-- @todo fix this, see https://github.com/kaliber5/ember-bootstrap/issues/999 --}}
{{#if (macroCondition (macroGetOwnConfig "isBS5"))}}
  <h2
    class="accordion-header"
    role="tab"
    ...attributes
  >
    <button
      class="accordion-button {{if @disabled "disabled"}} {{if @collapsed "collapsed"}}"
      type="button"
      disabled={{@disabled}}
      {{on "click" this.handleClick}}
    >
      {{yield}}
    </button>
  </h2>
{{else}}
  <div
    class="card-header"
    role="tab"
    ...attributes
    {{on "click" this.handleClick}}
  >
    <h5 class="mb-0">
      <button class="btn btn-link {{if @disabled "disabled"}} {{if @collapsed "collapsed" "expanded"}}" type="button" disabled={{@disabled}}>
        {{yield}}
      </button>
    </h5>
  </div>
{{/if}}
