<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{htmlTitle}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{projectAssets}}/css/api.css">
  <script type="text/javascript" src="//use.typekit.net/dkq5epu.js"></script>
  <script type="text/javascript">
    try {
      Typekit.load();
    } catch(e) {
    }
  </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">
  <link rel="shortcut icon" href="//kaliber5.github.io/ember-bootstrap/favicon.ico">
</head>
<body class="yui3-skin-sam">
<div class="navbar navbar-dark navbar-expand-lg bg-primary">
  <div class="container">
    <a href="/" class="navbar-brand">{{projectName}}</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".js-navbar-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse js-navbar-collapse">
      <ul class="navbar-nav nav mr-auto">
        <li class="navbar-nav"><a class="nav-link" href="/#/getting-started">Getting Started</a></li>
        <li class="navbar-nav"><a class="nav-link" href="/#/components">Components</a></li>
        <li class="navbar-nav"><a class="nav-link" href="/api">API</a></li>
      </ul>
      <ul class="navbar-nav nav">
        <li class="navbar-nav"><a class="nav-link" href="https://github.com/kaliber5/ember-bootstrap" target="_blank"><i
          class="fab fa-github"></i></a></li>
        <li class="navbar-nav"><a class="nav-link" href="https://twitter.com/simonihmig" target="_blank"><i
          class="fab fa-twitter"></i></a>
        </li>
        <li class="navbar-nav">
          <div class="navbar-text">
            <iframe src="https://ghbtns.com/github-btn.html?user=kaliber5&repo=ember-bootstrap&type=star&count=true"
                    frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="apidocs">
        <div id="docs-main">
          <div class="content">
            {{>layout_content}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      {{>sidebar}}
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="{{projectAssets}}/vendor/prettify/prettify-min.js"></script>
<script src="{{projectAssets}}/js/yuidoc-bootstrap.js"></script>
<script>prettyPrint();</script>
</body>
</html>
