{{#if hasLabel}}
    <label class="control-label {{horizontalLabelGridClass}} {{if invisibleLabel "sr-only"}}" for="{{formElementId}}">{{label}}</label>
    <div class="{{horizontalInputGridClass}}">
        {{yield}}
    </div>
{{else}}
    <div class="{{horizontalInputGridClass}} {{horizontalInputOffsetGridClass}}">
      {{yield}}
    </div>
{{/if}}
