{{#if hasLabel}}
    <label class="control-label {{horizontalLabelGridClass}} {{if invisibleLabel "sr-only"}}" for="{{formElementId}}">{{label}}</label>
    <div class="{{horizontalInputGridClass}}">
        {{#if hasBlock}}
            {{yield value formElementId validation}}
        {{else}}
            {{bs-input id=formElementId name=name type=controlType value=value placeholder=placeholder autofocus=autofocus disabled=disabled required=required}}
        {{/if}}
        {{partial "components/form-element/feedback-icon"}}
        {{partial "components/form-element/errors"}}
    </div>
{{else}}
    <div class="{{horizontalInputGridClass}} {{horizontalInputOffsetGridClass}}">
        {{#if hasBlock}}
            {{yield value formElementId validation}}
        {{else}}
            {{bs-input name=name type=controlType value=value placeholder=placeholder autofocus=autofocus disabled=disabled required=required}}
        {{/if}}
        {{partial "components/form-element/feedback-icon"}}
        {{partial "components/form-element/errors"}}
    </div>
{{/if}}
