{{#if hasLabel}}
    <label class="control-label {{horizontalLabelGridClass}}">{{label}}</label>
    <div class="{{horizontalInputGridClass}}">
        {{bs-input name=name type=controlType value=value placeholder=placeholder}}
        {{partial "components/form-element/feedback-icon"}}
        {{partial "components/form-element/errors"}}
    </div>
{{else}}
    <div class="{{horizontalInputGridClass}} {{horizontalInputOffsetGridClass}}">
        {{bs-input name=name type=controlType value=value placeholder=placeholder}}
        {{partial "components/form-element/feedback-icon"}}
        {{partial "components/form-element/errors"}}
    </div>
{{/if}}
