{{#if hasLabel}}
    <label class="control-label {{horizontalLabelGridClass}}" for="{{concat elementId '-' name}}">{{label}}</label>
    <div class="{{horizontalInputGridClass}}">
        {{select-2 id=(concat elementId '-' name) name=name content=choices optionValuePath=choiceValueProperty optionLabelPath=choiceLabelProperty value=value searchEnabled=false}}
        {{partial "components/form-element/feedback-icon"}}
        {{partial "components/form-element/errors"}}
    </div>
{{else}}
    <div class="{{horizontalInputGridClass}} {{horizontalInputOffsetGridClass}}">
        {{select-2 name=name content=choices optionValuePath=choiceValueProperty optionLabelPath=choiceLabelProperty value=value searchEnabled=false}}
        {{partial "components/form-element/feedback-icon"}}
        {{partial "components/form-element/errors"}}
    </div>
{{/if}}
