{{#if hasLabel}}
    <label {{bind-attr class=":control-label horizontalLabelGridClass"}}>{{label}}</label>
    <div {{bind-attr class="horizontalInputGridClass"}}>
        {{bs-textarea name=name value=value placeholder=placeholder}}
        {{partial "components/form-element/feedback-icon"}}
        {{partial "components/form-element/errors"}}
    </div>
{{else}}
    <div {{bind-attr class="horizontalInputGridClass horizontalInputOffsetGridClass"}}>
        {{bs-textarea name=name value=value placeholder=placeholder}}
        {{partial "components/form-element/feedback-icon"}}
        {{partial "components/form-element/errors"}}
    </div>
{{/if}}
