  <a class="{{prevClassName}}" href="#{{parentElementId}}" onclick={{toPrevSlide}} role="button">
    <span aria-hidden="true" class="{{prevIcon}}"></span>
    <span class="sr-only">{{prevSrOnly}}</span>
  </a>
  <a class="{{nextClassName}}" href="#{{parentElementId}}" onclick={{toNextSlide}} role="button">
    <span aria-hidden="true" class="{{nextIcon}}"></span>
    <span class="sr-only">{{nextSrOnly}}</span>
  </a>