{{#if this.hasLabel}}
  {{component @labelComponent labelClass=@horizontalLabelGridClass}}
  <div class={{this.horizontalInputGridClass}}>
    {{yield}}
    {{component @errorsComponent}}
    {{component @helpTextComponent}}
  </div>
{{else}}
  <div class="{{this.horizontalInputGridClass}} {{this.horizontalInputOffsetGridClass}}">
    {{yield}}
    {{component @errorsComponent}}
    {{component @helpTextComponent}}
  </div>
{{/if}}
