{{#if hasLabel}}
  {{component labelComponent labelClass=horizontalLabelGridClass}}
  <div class="{{horizontalInputGridClass}}">
    {{yield}}
    {{component errorsComponent}}
    {{component helpTextComponent}}
  </div>
{{else}}
  <div class="{{horizontalInputGridClass}} {{horizontalInputOffsetGridClass}}">
    {{yield}}
    {{component errorsComponent}}
    {{component helpTextComponent}}
  </div>
{{/if}}
