{{#ember-popper
  id=id
  class=popperClass
  ariaRole=ariaRole
  placement=placement
  renderInPlace=renderInPlace
  target=target
  modifiers=popperModifiers
  popperContainer="#ember-bootstrap-wormhole"
  onCreate=(action "updatePlacement")
  onUpdate=(action "updatePlacement")
}}
  <div class={{arrowClass}}></div>
  {{#if hasTitle}}
    <h3 class={{titleClass}}>{{title}}</h3>
  {{/if}}
  <div class={{contentClass}}>{{yield}}</div>
{{/ember-popper}}