<EmberPopper
  @ariaRole={{this.ariaRole}}
  @placement={{this.placement}}
  @renderInPlace={{this.renderInPlace}}
  @popperTarget={{this.popperTarget}}
  @modifiers={{this.popperModifiers}}
  @popperContainer={{@destinationElement}}
  @onCreate={{this.updatePlacement}}
  @onUpdate={{this.updatePlacement}}
  @id={{@id}}
  @class={{this.popperClass}}
  ...attributes
>
  <div class={{this.arrowClass}}></div>
  {{#if this.hasTitle}}
    <h3 class={{this.titleClass}}>{{@title}}</h3>
  {{/if}}
  <div class={{this.contentClass}}>{{yield}}</div>
</EmberPopper>
