{{! @glint-nocheck }}
<div
  class="tab-pane {{if this.showContent "show"}} {{if this.active "active"}} {{if this.usesTransition "fade"}}"
  role="tabpanel"
  ...attributes
  {{create-ref "mainNode"}}
  {{did-insert this.updateActive @active}}
  {{did-update this.showHide this.isActive}}
>
  {{yield}}
</div>