<EmberPopper
  @ariaRole="tooltip"
  @placement={{this.placement}}
  @renderInPlace={{@renderInPlace}}
  @popperTarget={{@popperTarget}}
  @modifiers={{this.popperModifiers}}
  @popperContainer={{@destinationElement}}
  @onCreate={{this.updatePlacement}}
  @onUpdate={{this.updatePlacement}}
  @class="tooltip {{@class}} {{if this.fade "fade"}} {{this.actualPlacementClass}} {{if this.showHelp "show"}}"

  {{create-ref "popperElement"}}
  ...attributes
>
  <div class={{this.arrowClass}}></div>
  <div class="tooltip-inner">
    {{yield}}
  </div>
</EmberPopper>
