<EmberPopper
  @ariaRole={{this.ariaRole}}
  @placement={{this.placement}}
  @renderInPlace={{this.renderInPlace}}
  @popperTarget={{this.popperTarget}}
  @modifiers={{this.popperModifiers}}
  @popperContainer={{@destinationElement}}
  @onCreate={{this.updatePlacement}}
  @onUpdate={{this.updatePlacement}}
  @id={{@id}}
  @class={{this.popperClass}}
  ...attributes
>
  <div class={{this.arrowClass}}></div>
  <div class="tooltip-inner">
    {{yield}}
  </div>
</EmberPopper>
