<div class="{{horizontalInputGridClass}} {{horizontalInputOffsetGridClass}}">
  {{#component labelComponent}}
    {{yield}}
  {{/component}}
  {{component errorsComponent}}
  {{component helpTextComponent}}
</div>
