<div class="{{this.horizontalInputGridClass}} {{this.horizontalInputOffsetGridClass}}">
  <div class="form-check">
    {{yield}}
    {{component @labelComponent}}
    {{component @errorsComponent}}
    {{component @helpTextComponent}}
  </div>
</div>
