<div
  class="{{unless this.hidden "alert"}} {{if this.fade "fade"}} {{if this.dismissible "alert-dismissible"}} {{bs-type-class "alert" @type}} {{if this.showAlert (if (macroCondition (macroGetOwnConfig "isBS4")) "show" "in")}}"
  ...attributes
  {{did-update this._observeIsVisible this._visible}}
>
  {{#unless this.hidden}}
    {{#if this.dismissible}}
      <button type="button" class="close" aria-label="Close" {{on "click" this.dismiss}}>
        <span aria-hidden="true">&times;</span>
      </button>
    {{/if}}
    {{yield}}
  {{/unless}}
</div>