{{!-- template-lint-disable no-invalid-interactive --}}
<form
  role="form"
  novalidate={{this.hasValidator}}
  class={{this.layoutClass}}
  ...attributes
  {{on "keypress" this.handleKeyPress}}
  {{on "submit" this.handleSubmit}}
>
  {{yield
    (hash
      element=(component (ensure-safe-component (bs-default @elementComponent (component "bs-form/element")))
        model=this.model
        formLayout=this.formLayout
        horizontalLabelGridClass=this.horizontalLabelGridClass
        showAllValidations=this.showAllValidations
        _disabled=this.disabled
        _readonly=this.readonly
        onChange=this.elementChanged
        _onChange=this.resetSubmissionState
      )
      group=(component (ensure-safe-component (bs-default @groupComponent (component "bs-form/group")) formLayout=this.formLayout))
      isSubmitting=this.isSubmitting
      isSubmitted=this.isSubmitted
      isRejected=this.isRejected
      resetSubmissionState=this.resetSubmissionState
      submit=this.doSubmit
      submitButton=(component (ensure-safe-component (bs-default @submitButtonComponent (component "bs-button")))
        buttonType="submit"
        type="primary"
        state=this.submitButtonState
        _disabled=this.isSubmitting
      )
    )
  }}
</form>
