{{did-insert this.handleVisibilityChanges}}
{{did-update this.handleVisibilityChanges this.isOpen}}
{{#if this.inDom}}
  {{#let (component (bs-default @dialogComponent (component "bs-modal/dialog"))
    onClose=this.close
    fade=this._fade
    showModal=this.showModal
    keyboard=this.keyboard
    size=@size
    backdropClose=this.backdropClose
    inDom=this.inDom
    paddingLeft=this.paddingLeft
    paddingRight=this.paddingRight
    centered=(bs-eq this.position "center")
    scrollable=this.scrollable
  ) as |Dialog|}}
    {{#if this._renderInPlace}}
      <Dialog
        class={{@class}}
        id={{this.modalId}}
        ...attributes
      >
        {{yield
          (hash
            header=(component (bs-default @headerComponent (component "bs-modal/header")) onClose=this.close)
            body=(bs-default @bodyComponent (component "bs-modal/body"))
            footer=(component (bs-default @footerComponent (component "bs-modal/footer")) onClose=this.close onSubmit=this.doSubmit)
            close=this.close
            submit=this.doSubmit
          )
        }}
      </Dialog>
      <div>
        {{#if this.showBackdrop}}
          <div class="modal-backdrop {{if this._fade "fade"}} {{if this.showModal (if (macroCondition (macroGetOwnConfig "isBS4")) "show" "in")}}" id={{this.backdropId}}></div>
        {{/if}}
      </div>
    {{else}}
      {{#in-element this.destinationElement insertBefore=null}}
        <Dialog
          class={{@class}}
          id={{this.modalId}}
          ...attributes
        >
          {{yield
            (hash
              header=(component (bs-default @headerComponent (component "bs-modal/header")) onClose=this.close)
              body=(bs-default @bodyComponent (component "bs-modal/body"))
              footer=(component (bs-default @footerComponent (component "bs-modal/footer")) onClose=this.close onSubmit=this.doSubmit)
              close=this.close
              submit=this.doSubmit
            )
          }}
        </Dialog>
        <div>
          {{#if this.showBackdrop}}
            <div class="modal-backdrop {{if this._fade "fade"}} {{if this.showModal (if (macroCondition (macroGetOwnConfig "isBS4")) "show" "in")}}" id={{this.backdropId}}></div>
          {{/if}}
        </div>
      {{/in-element}}
    {{/if}}
  {{/let}}
{{/if}}
