{{#let
  (hash
    toggle=(component (ensure-safe-component (bs-default @toggleComponent (component "bs-navbar/toggle"))) onClick=this.toggleNavbar collapsed=this._collapsed)
    content=(component (ensure-safe-component (bs-default @contentComponent (component "bs-navbar/content"))) collapsed=this._collapsed onHidden=this.onCollapsed onShown=this.onExpanded)
    nav=(component
      (ensure-safe-component (bs-default @navComponent (component "bs-navbar/nav")))
      linkToComponent=(component "bs-navbar/link-to" onCollapse=this.collapse)
    )
    collapse=this.collapse
    expand=this.expand
    toggleNavbar=this.toggleNavbar
  ) as |yieldedHash|}}
  {{#if (macroCondition (macroGetOwnConfig "isBS4"))}}
    <nav class="navbar {{this.positionClass}} {{this.typeClass}} {{this.breakpointClass}} {{this.backgroundClass}}" ...attributes>
      {{#if this.fluid}}
        {{yield yieldedHash}}
      {{else}}
        <div class="container">
          {{yield yieldedHash}}
        </div>
      {{/if}}
    </nav>
  {{else}}
    <nav class="navbar {{this.positionClass}} {{this.typeClass}}" ...attributes>
      <div class={{if this.fluid "container-fluid" "container"}}>
        {{yield yieldedHash}}
      </div>
    </nav>
  {{/if}}
{{/let}}