<div ...attributes>
  {{#if this.customTabs}}
    {{yield
      (hash
        pane=(component (ensure-safe-component (bs-default @paneComponent (component "bs-tab/pane"))) parent=this activeId=this.isActiveId fade=this.fade fadeTransition=this.fadeTransition)
        activeId=this.isActiveId
        select=this.select
      )
    }}
  {{else}}
    {{#let (ensure-safe-component (bs-default @navComponent (component "bs-nav"))) as |NavComponent|}}
      <NavComponent @type={{this.type}} role="tablist" as |Nav|>
        {{#each this.navItems as |item|}}
          {{#if item.isGroup}}
            <Nav.dropdown class={{if (bs-contains item.childIds this.isActiveId) "active"}} as |DD|>
              <DD.toggle>{{item.groupTitle}} <span class="caret"></span></DD.toggle>
              <DD.menu as |Menu|>
                {{#each item.children as |subItem|}}
                  <Menu.item class={{if (bs-eq this.isActiveId subItem.id) "active"}}>
                    <a href="#{{subItem.id}}" role="tab" class={{if (bs-eq this.isActiveId subItem.id) "nav-link active" "nav-link"}} {{action "select" subItem.id}}>
                      {{subItem.title}}
                    </a>
                  </Menu.item>
                {{/each}}
              </DD.menu>
            </Nav.dropdown>
          {{else}}
            <Nav.item @active={{bs-eq item.id this.isActiveId}}>
              <a href="#{{item.id}}" role="tab" class={{if (bs-eq this.isActiveId item.id) "nav-link active" "nav-link"}} {{action "select" item.id}}>
                {{item.title}}
              </a>
            </Nav.item>
          {{/if}}
        {{/each}}
      </NavComponent>
    {{/let}}

    <div class="tab-content">
      {{yield
        (hash
          pane=(component (ensure-safe-component (bs-default @paneComponent (component "bs-tab/pane"))) parent=this activeId=this.isActiveId fade=this.fade fadeTransition=this.fadeTransition)
          activeId=this.isActiveId
          select=this.select
        )
      }}
    </div>
  {{/if}}

</div>