<form class="modal-footer" ...attributes {{on "submit" (bs-action-fallback @onSubmit)}}>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#if @submitTitle}}
      {{#component
        (bs-default @buttonComponent (component "bs-button"))
        onClick=@onClose
      }}
        {{bs-default @closeTitle "Ok"}}
      {{/component}}
      {{#component
        (bs-default @buttonComponent (component "bs-button"))
        type=(bs-default @submitButtonType "primary")
        onClick=@onSubmit
        _disabled=(bs-default @submitDisabled false)
      }}
        {{@submitTitle}}
      {{/component}}
    {{else}}
      {{#component
        (bs-default @buttonComponent (component "bs-button"))
        type="primary"
        onClick=@onClose
      }}
        {{bs-default @closeTitle "Ok"}}
      {{/component}}
    {{/if}}
  {{/if}}

</form>