<form class="modal-footer" ...attributes {{on "submit" (bs-default @onSubmit (bs-noop))}}>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#if @submitTitle}}
      {{#component
        (bs-default @buttonComponent (component "bs-button"))
        onClick=@onClose
      }}
        {{bs-default @closeTitle "Ok"}}
      {{/component}}
      {{#let (bs-default @buttonComponent (component "bs-button")) as |Button|}}
        <Button
          @type={{bs-default @submitButtonType "primary"}}
          @onClick={{@onSubmit}}
          disabled={{bs-default @submitDisabled false}}
        >
        {{@submitTitle}}
        </Button>
      {{/let}}
    {{else}}
      {{#component
        (bs-default @buttonComponent (component "bs-button"))
        type="primary"
        onClick=@onClose
      }}
        {{bs-default @closeTitle "Ok"}}
      {{/component}}
    {{/if}}
  {{/if}}

</form>