<div class="modal-header" ...attributes>
  {{#if hasBlockParams}}
    {{yield
      (hash
        title=(bs-default @titleComponent (component "bs-modal/header/title"))
        close=(component (bs-default @closeComponent (component "bs-modal/header/close")) onClick=@onClose)
      )
    }}
  {{else}}
    {{#if (macroCondition (macroGetOwnConfig "isBS4"))}}
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{#component (bs-default @titleComponent (component "bs-modal/header/title"))}}{{@title}}{{/component}}
      {{/if}}
      {{#if (bs-default @closeButton true)}}
        {{component (bs-default @closeComponent (component "bs-modal/header/close")) onClick=@onClose}}
      {{/if}}
    {{/if}}
    {{#if (macroCondition (macroGetOwnConfig "isBS3"))}}
      {{#if (bs-default @closeButton true)}}
        {{component (bs-default @closeComponent (component "bs-modal/header/close")) onClick=@onClose}}
      {{/if}}
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{#component (bs-default @titleComponent (component "bs-modal/header/title"))}}{{@title}}{{/component}}
      {{/if}}
    {{/if}}
  {{/if}}
</div>