{{! @glint-nocheck }}
{{#if @hasLabel}}
  <@labelComponent @labelClass={{@horizontalLabelGridClass}}/>
  <div class={{bs-form-horiz-input-class @horizontalLabelGridClass}}>
    {{yield}}
    <@errorsComponent/>
    <@helpTextComponent/>
  </div>
{{else}}
  <div class="{{bs-form-horiz-input-class @horizontalLabelGridClass}} {{bs-form-horiz-offset-class @horizontalLabelGridClass}}">
    {{yield}}
    <@errorsComponent/>
    <@helpTextComponent/>
  </div>
{{/if}}