<div class="{{if (bs-eq "switch" @controlType) "custom-control custom-switch" "form-check"}}">
  {{yield}}
  {{component @labelComponent}}
  {{component @errorsComponent}}
  {{component @helpTextComponent}}
</div>
