<div
  class="{{if this.collapse "collapse"}} {{if this.collapsing "collapsing"}} {{if this.showContent (if (macroCondition (macroGetOwnConfig "isBS4")) "show" "in")}}"
  ...attributes
  {{ref this "_element"}}
  {{style
    width=(if (bs-eq this.collapseDimension "width") (concat this.collapseSize "px"))
    height=(if (bs-eq this.collapseDimension "height") (concat this.collapseSize "px"))
  }}
>
  {{yield}}
</div>