<div
  class="{{if this.collapse "collapse"}} {{if this.collapsing "collapsing"}} {{if this.showContent (if (macroCondition (macroGetOwnConfig "isBS4")) "show" "in")}}"
  ...attributes
  {{ref this "_element"}}
  {{style this.cssStyle}}
>
  {{yield}}
</div>
