{{#if customTabs}}
    {{yield
    (hash
    pane=(component "bs-tab/pane" parent=this activeId=isActiveId fade=fade fadeTransition=fadeTransition)
    activeId=isActiveId
    select=(action "select")
    )
    }}
{{else}}
    {{#bs-nav type=type as |nav|}}
        {{#each navItems as |item|}}
            {{#if item.isGroup}}
                {{#bs-dropdown tagName="li" class=(if (bs-contains item.childIds isActiveId) "active") as |dd|}}
                    {{#dd.toggle}}{{item.groupTitle}} <span class="caret"></span>{{/dd.toggle}}
                    {{#dd.menu}}
                        {{#each item.children as |subItem|}}
                            <li class="{{if (bs-eq isActiveId subItem.elementId) "active"}}"><a
                                    href="#{{subItem.elementId}}"
                                    role="tab" {{action "select" subItem.elementId}}>{{subItem.title}}</a></li>
                        {{/each}}
                    {{/dd.menu}}
                {{/bs-dropdown}}
            {{else}}
                {{#nav.item active=(bs-eq item.elementId isActiveId)}}<a href="#{{item.elementId}}"
                                                                       role="tab" {{action "select" item.elementId}}>{{item.title}}</a>{{/nav.item}}
            {{/if}}
        {{/each}}
    {{/bs-nav}}

    <div class="tab-content">
        {{yield
        (hash
        pane=(component "bs-tab/pane" parent=this activeId=isActiveId fade=fade fadeTransition=fadeTransition)
        activeId=isActiveId
        select=(action "select")
        )
        }}
    </div>
{{/if}}