<div class="modal-header" ...attributes>
  {{#if hasBlockParams}}
    {{yield
      (hash
        title=(component this.titleComponent)
        close=(component this.closeComponent onClick=@onClose)
      )
    }}
  {{else}}
    {{#if (has-bootstrap-version 4)}}
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{#component this.titleComponent}}{{@title}}{{/component}}
      {{/if}}
      {{#if this.closeButton}}
        {{component this.closeComponent onClick=@onClose}}
      {{/if}}
    {{/if}}
  {{/if}}
  {{#if (has-bootstrap-version 3)}}
    {{#if this.closeButton}}
      {{component this.closeComponent onClick=@onClose}}
    {{/if}}
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{#component this.titleComponent}}{{@title}}{{/component}}
    {{/if}}
  {{/if}}
</div>