<div class="checkbox">
    <label>
        <input type="checkbox" checked={{value}} onclick={{action "change" value="target.checked"}} id={{formElementId}} name={{name}} disabled={{disabled}} required={{required}}> {{label}}
    </label>
</div>
{{partial "components/form-element/errors"}}