{{#if hasLabel}}
    <label class="control-label {{if invisibleLabel "sr-only"}}" for="{{formElementId}}">{{label}}</label>
{{/if}}
{{#if hasBlock}}
    {{yield
        (hash
            value=value
            id=formElementId
            validation=validation
        )
    }}
{{else}}
    <input value={{value}} class="form-control" oninput={{action "change" value="target.value"}} id={{formElementId}} name={{name}} type={{controlType}} placeholder={{placeholder}} autofocus={{autofocus}} disabled={{disabled}} readonly={{if readonly "readonly"}} required={{required}}>
{{/if}}
{{partial "components/form-element/feedback-icon"}}
{{partial "components/form-element/errors"}}
