<div class="checkbox">
  <label>
    <input
      type="checkbox"
      checked={{value}}
      onclick={{action "change" value="target.checked"}}
      id={{formElementId}}
      name={{name}}
      disabled={{disabled}}
      required={{required}}
      autofocus={{autofocus}}
      readonly={{if readonly "readonly"}}
      required={{required}}
      tabindex={{tabindex}}
      form={{form}}
      spellcheck={{spellcheck}}
    >
    {{label}}
  </label>
</div>