<EmberPopper
  @ariaRole="tooltip"
  @placement={{this.placement}}
  @renderInPlace={{@renderInPlace}}
  @popperTarget={{@popperTarget}}
  @modifiers={{this.popperModifiers}}
  @popperContainer={{@destinationElement}}
  @onCreate={{this.updatePlacement}}
  @onUpdate={{this.updatePlacement}}
  @class="popover {{@class}} {{if this.fade "fade"}} {{this.actualPlacementClass}} {{if this.showHelp "show"}}"

  {{create-ref "popperElement"}}
  ...attributes
>
  <div class={{this.arrowClass}}></div>
  {{#if @title}}
    <h3 class="popover-header">{{@title}}</h3>
  {{/if}}
  <div class="popover-body">{{yield}}</div>
</EmberPopper>
