<EmberPopper
  @ariaRole="tooltip"
  @placement={{this.placement}}
  @renderInPlace={{@renderInPlace}}
  @popperTarget={{@popperTarget}}
  @modifiers={{this.popperModifiers}}
  @popperContainer={{@destinationElement}}
  @onCreate={{this.updatePlacement}}
  @onUpdate={{this.updatePlacement}}
  @id={{@id}}
  @class="popover {{@class}} {{if this.fade "fade"}} {{if (macroCondition (macroGetOwnConfig "isBS4")) (concat "bs-popover-" this.actualPlacement)}} {{if (macroCondition (macroGetOwnConfig "isBS3")) this.actualPlacement}} {{if (macroCondition (macroGetOwnConfig "isBS4")) (if this.showHelp "show")}} {{if (macroCondition (macroGetOwnConfig "isBS3")) (if this.showHelp "in")}} {{if (macroCondition (macroGetOwnConfig "isBS3")) "ember-bootstrap-popover"}}"
  ...attributes
>
  <div class={{this.arrowClass}}></div>
  {{#if @title}}
    <h3 class="{{if (macroCondition (macroGetOwnConfig "isBS4")) "popover-header"}}{{if (macroCondition (macroGetOwnConfig "isBS3")) "popover-title"}}">{{@title}}</h3>
  {{/if}}
  <div class="{{if (macroCondition (macroGetOwnConfig "isBS4")) "popover-body"}}{{if (macroCondition (macroGetOwnConfig "isBS3")) "popover-content"}}">{{yield}}</div>
</EmberPopper>
