{{#if this.show}}
  {{#if this.showMultipleErrors}}
    <div class="pre-scrollable">
      {{#each @messages as |message|}}
        <div class={{feedbackClass}}>{{message}}</div>
      {{/each}}
    </div>
  {{else}}
    <div class={{this.feedbackClass}}>{{@messages.firstObject}}</div>
  {{/if}}
{{/if}}
