<button
  disabled={{this.__disabled}}
  type={{this.buttonType}}
  aria-expanded={{if @isOpen "true" "false"}}
  class="btn dropdown-toggle {{if @active "active"}} {{if this.block "btn-block"}} {{bs-size-class "btn" @size}} {{bs-type-class "btn" @type default=(if (macroCondition (macroGetOwnConfig "isBS3")) "default" "secondary") outline=@outline}}"
  ...attributes
  {{on "click" this.handleClick}}
  {{on "keydown" @onKeyDown}}
  {{did-insert @registerChildElement "toggle"}}
  {{will-destroy @unregisterChildElement "toggle"}}
>
  {{#if this.icon}}<i class={{this.icon}}></i> {{/if}}{{this.text}}{{yield
    (hash
      isFulfilled=this.isFulfilled
      isPending=this.isPending
      isRejected=this.isRejected
      isSettled=this.isSettled
    )
  }}
</button>
