{{#if this._isOpen}}
  {{#if (macroCondition (macroGetOwnConfig "isNotBS3"))}}
    {{#if this._renderInPlace}}
      <div
        class="dropdown-menu {{this.alignClass}} {{if this.isOpen "show"}} {{@class}}"
        tabindex="-1"
        ...attributes
        {{popper-tooltip this.toggleElement this.popperOptions}}
        {{did-insert @registerChildElement "menu"}}
        {{will-destroy @unregisterChildElement "menu"}}
        {{create-ref "menuElement"}}
      >
        {{yield
          (hash
            item=(ensure-safe-component (bs-default @itemComponent (component "bs-dropdown/menu/item")))
            link-to=(ensure-safe-component (bs-default @linkToComponent (component "bs-link-to" class="dropdown-item")))
            linkTo=(ensure-safe-component (bs-default @linkToComponent (component "bs-link-to" class="dropdown-item")))
            divider=(ensure-safe-component (bs-default @dividerComponent (component "bs-dropdown/menu/divider")))
          )
        }}
      </div>
    {{else}}
      {{#in-element this.destinationElement insertBefore=null}}
        <div
          class="dropdown-menu {{this.alignClass}} {{if this.isOpen "show"}} {{@class}}"
          tabindex="-1"
          ...attributes
          {{popper-tooltip this.toggleElement this.popperOptions}}
          {{did-insert @registerChildElement "menu"}}
          {{will-destroy @unregisterChildElement "menu"}}
          {{create-ref "menuElement"}}
        >
          {{yield
            (hash
              item=(ensure-safe-component (bs-default @itemComponent (component "bs-dropdown/menu/item")))
              link-to=(ensure-safe-component (bs-default @linkToComponent (component "bs-link-to" class="dropdown-item")))
              linkTo=(ensure-safe-component (bs-default @linkToComponent (component "bs-link-to" class="dropdown-item")))
              divider=(ensure-safe-component (bs-default @dividerComponent (component "bs-dropdown/menu/divider")))
            )
          }}
        </div>
      {{/in-element}}
    {{/if}}
  {{/if}}

  {{#if (macroCondition (macroGetOwnConfig "isBS3"))}}
    {{#if this._renderInPlace}}
      <ul
        class="dropdown-menu {{this.alignClass}} {{if this.isOpen "show"}} {{@class}}"
        tabindex="-1"
        ...attributes
        {{popper-tooltip this.toggleElement this.popperOptions}}
        {{did-insert @registerChildElement "menu"}}
        {{will-destroy @unregisterChildElement "menu"}}
        {{create-ref "menuElement"}}
      >
        {{yield
          (hash
            item=(ensure-safe-component (bs-default @itemComponent (component "bs-dropdown/menu/item")))
            link-to=(ensure-safe-component (bs-default @linkToComponent (component "bs-link-to")))
            linkTo=(ensure-safe-component (bs-default @linkToComponent (component "bs-link-to")))
            divider=(ensure-safe-component (bs-default @dividerComponent (component "bs-dropdown/menu/divider")))
          )
        }}
      </ul>
    {{else}}
      {{#in-element this.destinationElement insertBefore=null}}
        <ul
          class="dropdown-menu {{this.alignClass}} {{if this.isOpen "show"}} {{@class}}"
          tabindex="-1"
          ...attributes
          {{popper-tooltip this.toggleElement this.popperOptions}}
          {{did-insert @registerChildElement "menu"}}
          {{will-destroy @unregisterChildElement "menu"}}
          {{create-ref "menuElement"}}
        >
          {{yield
            (hash
              item=(ensure-safe-component (bs-default @itemComponent (component "bs-dropdown/menu/item")))
              link-to=(ensure-safe-component (bs-default @linkToComponent (component "bs-link-to")))
              linkTo=(ensure-safe-component (bs-default @linkToComponent (component "bs-link-to")))
              divider=(ensure-safe-component (bs-default @dividerComponent (component "bs-dropdown/menu/divider")))
            )
          }}
        </ul>
      {{/in-element}}
    {{/if}}
  {{/if}}
{{/if}}
