{{! @glint-nocheck }}
<div
  class="{{unless this.hidden "alert"}} {{if this.fade "fade"}} {{if this.dismissible "alert-dismissible"}} {{bs-type-class "alert" @type}} {{if this.showAlert "show"}}"
  ...attributes
  {{did-update this.showOrHide this._visible}}
  {{did-update this.updateVisibility @visible}}
>
  {{#unless this.hidden}}
    {{#if this.dismissible}}
      <button type="button" class={{if (macroCondition (macroGetOwnConfig "isBS5")) "btn-close" "close"}} aria-label="Close" {{on "click" this.dismiss}}>
        {{#if (macroCondition (macroGetOwnConfig "isBS4"))}}<span aria-hidden="true">&times;</span>{{/if}}
      </button>
    {{/if}}

    {{#if (has-block "header")}}
      {{#let (element (bs-default @headerTag "h4")) as |Tag|}}
        <Tag class="alert-heading">
          {{yield to="header"}}
        </Tag>
      {{/let}}
    {{/if}}

    {{#if (has-block "body")}}
      {{yield to="body"}}
    {{else}}
      {{yield}}
    {{/if}}
  {{/unless}}
</div>