<div
  class="{{if this.collapse "collapse"}} {{if this.transitioning "collapsing"}} {{if this.showContent "show"}}"
  ...attributes
  {{create-ref "mainNode"}}
  {{style this.cssStyle}}
  {{did-update this._onCollapsedChange this.collapsed}}
  {{did-update this._updateCollapsedSize this.collapsedSize}}
  {{did-update this._updateExpandedSize this.expandedSize}}
>
  {{yield}}
</div>
