{{! @glint-nocheck }}
<div
  {{!-- template-lint-disable no-positive-tabindex --}}
  tabindex={{this.tabindex}}
  class="carousel slide {{if this.carouselFade "carousel-fade"}}"
  ...attributes
  {{on "keydown" this.handleKeyDown}}
  {{on "mouseenter" this.handleMouseEnter}}
  {{on "mouseleave" this.handleMouseLeave}}
  {{did-update this.childSlidesObserver this.childSlides this.autoPlay}}
  {{did-update this.indexObserver this.index}}
>
  {{#if this.showIndicators}}
    {{#if (macroCondition (macroGetOwnConfig "isBS5"))}}
      <div class="carousel-indicators">
        {{#each this.indicators as |indicator _index|}}
          <button
            data-bs-target
            type="button"
            class={{if (bs-eq this.currentIndex _index) "active"}}
            aria-current="{{bs-eq this.currentIndex _index}}"
            {{on "click" (fn this.toSlide _index)}}
          />
        {{/each}}
      </div>
    {{else}}
      <ol class="carousel-indicators">
        {{#each this.indicators as |indicator _index|}}
          <li
            role="button"
            class={{if (bs-eq this.currentIndex _index) "active"}}
            {{on "click" (fn this.toSlide _index)}}
          />
        {{/each}}
      </ol>
    {{/if}}

  {{/if}}

  <div class="carousel-inner" role="listbox">
    {{yield
      (hash
        slide=(component (ensure-safe-component (bs-default @slideComponent (component "bs-carousel/slide")))
          currentSlide=this.currentSlide
          directionalClassName=this.directionalClassName
          followingSlide=this.followingSlide
          orderClassName=this.orderClassName
          presentationState=this.presentationState
          registerChild=this.registerChild
          unregisterChild=this.unregisterChild
        )
      )
    }}
  </div>

  {{#if this.showControls}}
    <button class="carousel-control-prev" type="button" {{on "click" this.toPrevSlide}}>
      <span aria-hidden="true" class="carousel-control-prev-icon"></span>
      <span class={{if (macroCondition (macroGetOwnConfig "isBS5")) "visually-hidden" "sr-only"}}>{{this.prevControlLabel}}</span>
    </button>
    <button class="carousel-control-next" type="button" {{on "click" this.toNextSlide}}>
      <span aria-hidden="true" class="carousel-control-next-icon"></span>
      <span class={{if (macroCondition (macroGetOwnConfig "isBS5")) "visually-hidden" "sr-only"}}>{{this.nextControlLabel}}</span>
    </button>
  {{/if}}

</div>