<div
  class="{{this.spinnerClass}} {{if @size (bs-size-class this.spinnerClass @size)}} {{bs-type-class 'text' @type default="primary" outline=false}}"
  role="status"
  ...attributes
>
  {{#if (has-block)}}
    <span
      class={{if
        (macroCondition (macroGetOwnConfig "isBS5"))
        "visually-hidden"
        "sr-only"
      }}
    >{{yield}}</span>
  {{/if}}
</div>