{{#if showLabel}}
  {{#if hasBlock}}
    {{yield this.percentRounded}}
  {{else}}
    {{this.percentRounded}}%
  {{/if}}
{{else}}
  {{#if hasBlock}}
    <span class="sr-only">{{yield this.percentRounded}}</span>
  {{else}}
    <span class="sr-only">{{this.percentRounded}}%</span>
  {{/if}}
{{/if}}
