<div
  class="{{if (macroCondition (macroGetOwnConfig "isBS4")) "carousel-item"}} {{if (macroCondition (macroGetOwnConfig "isBS3")) "item"}} {{if this.active "active"}} {{if (macroCondition (macroGetOwnConfig "isBS4")) (if this.left "carousel-item-left")}} {{if (macroCondition (macroGetOwnConfig "isBS3")) (if this.left "left")}} {{if (macroCondition (macroGetOwnConfig "isBS4")) (if this.next "carousel-item-next")}} {{if (macroCondition (macroGetOwnConfig "isBS3")) (if this.next "next")}} {{if (macroCondition (macroGetOwnConfig "isBS4")) (if this.prev "carousel-item-prev")}} {{if (macroCondition (macroGetOwnConfig "isBS3")) (if this.prev "prev")}} {{if (macroCondition (macroGetOwnConfig "isBS4")) (if this.right "carousel-item-right")}} {{if (macroCondition (macroGetOwnConfig "isBS3")) (if this.right "right")}}"
  ...attributes
  {{create-ref "mainNode"}}
>
  {{yield}}
</div>