<button
  disabled={{this.__disabled}}
  type={{this.buttonType}}
  class="btn {{if this.active "active"}} {{if this.block "btn-block"}} {{bs-size-class "btn" @size}} {{bs-type-class "btn" @type default=(if (macroCondition (macroGetOwnConfig "isBS3")) "default" "secondary") outline=@outline}}"
  ...attributes
  {{on "click" this.handleClick}}
  {{did-update this.resetState @reset}}
>
  {{#if this.icon}}<i class={{this.icon}}></i> {{/if}}{{this.text}}{{yield
    (hash
      isFulfilled=this.isFulfilled
      isPending=this.isPending
      isRejected=this.isRejected
      isSettled=this.isSettled
    )
  }}
</button>