<BsCollapse @collapsed={{@collapsed}} class="accordion-collapse" id={{@collapsableId}} aria-describedby={{@describedby}}>
  <div class="{{if (macroCondition (macroGetOwnConfig "isBS4")) "card-body" "accordion-body"}}">
    {{yield}}
  </div>
</BsCollapse>