{{! @glint-nocheck }}
{{!-- template-lint-disable no-nested-interactive --}}
{{!-- @todo fix this, see https://github.com/kaliber5/ember-bootstrap/issues/999 --}}
{{#if (macroCondition (macroGetOwnConfig "isBS5"))}}
  <h2
    class="accordion-header"
    ...attributes
  >
    <button
      class="accordion-button {{if @disabled "disabled"}} {{if @collapsed "collapsed"}}"
      type="button"
      disabled={{@disabled}}
      aria-controls={{@controls}}
      aria-expanded={{if @collapsed "false" "true"}}
      {{on "click" this.handleClick}}
    >
      {{yield}}
    </button>
  </h2>
{{else}}
  <div
    class="card-header"
  >
    <h2
      class="mb-0"
      ...attributes
    >
      <button
        class="btn btn-link {{if @disabled "disabled"}} {{if @collapsed "collapsed" "expanded"}}"
        type="button"
        disabled={{@disabled}}
        aria-controls={{@controls}}
        aria-expanded={{if @collapsed "false" "true"}}
        {{on "click" this.handleClick}}
      >
        {{yield}}
      </button>
    </h2>
  </div>
{{/if}}
