{{!-- template-lint-disable no-invalid-interactive --}}
<div
  class="form-group {{if this.disabled "disabled"}} {{if this.required "is-required"}} {{if this.isValidating "is-validating"}} {{if (macroCondition (macroGetOwnConfig "isBS3")) this.validationClass}} {{if (macroCondition (macroGetOwnConfig "isBS3")) (if this.hasFeedback "has-feedback")}} {{if (macroCondition (macroGetOwnConfig "isBS3")) this.sizeClass}} {{if (macroCondition (macroGetOwnConfig "isBS4")) (if this.isHorizontal "row")}}"
  ...attributes
  {{create-ref "mainNode"}}
  {{on "focusout" this.showValidationOnHandler}}
  {{on "change" this.showValidationOnHandler}}
  {{on "input" this.showValidationOnHandler}}
  {{did-insert this.adjustFeedbackIcons}}
  {{did-update this.adjustFeedbackIcons this.hasFeedback this.formLayout}}
>
  {{#component
    (bs-default
      @layoutComponent
      (if
        (bs-eq this.controlType "checkbox")
        (if
          (bs-eq @formLayout "inline")
          (component "bs-form/element/layout/inline/checkbox")
          (if
            (bs-eq @formLayout "horizontal")
            (component "bs-form/element/layout/horizontal/checkbox")
            (component "bs-form/element/layout/vertical/checkbox")
          )
        )
        (if
          (bs-eq @formLayout "inline")
          (component "bs-form/element/layout/inline")
          (if
            (bs-eq @formLayout "horizontal")
            (component "bs-form/element/layout/horizontal")
            (component "bs-form/element/layout/vertical")
          )
        )
      )
    )
    hasLabel=this.hasLabel
    formElementId=this.formElementId
    horizontalLabelGridClass=this.horizontalLabelGridClass
    errorsComponent=(component (bs-default @errorsComponent (component "bs-form/element/errors"))
      messages=this.validationMessages
      show=this.showValidationMessages
      showMultipleErrors=this.showMultipleErrors
    )
    feedbackIconComponent=(component (bs-default @feedbackIconComponent (component "bs-form/element/feedback-icon"))
      iconName=@iconName
      show=this.hasFeedback
    )
    labelComponent=(component
      (bs-default
        @labelComponent
        (if
          (macroCondition (macroGetOwnConfig "isBS3"))
          (component "bs-form/element/label")
          (if
            (bs-eq this.controlType "radio")
            (component "bs-form/element/legend")
            (component "bs-form/element/label")
          )
        )
      )
      label=@label
      invisibleLabel=this.invisibleLabel
      formElementId=this.formElementId
      controlType=this.controlType
      formLayout=this.formLayout
      size=@size
    )
    helpTextComponent=(if this.hasHelpText
      (component (bs-default @helpTextComponent (component "bs-form/element/help-text"))
        text=@helpText
        id=this.ariaDescribedBy
      )
    )
  }}
    {{#let
      (component
        (bs-default
          @controlComponent
          (bs-default
            this.customControlComponent
            (if
              (bs-eq this.controlType "checkbox")
              (component "bs-form/element/control/checkbox")
              (if
                (bs-eq this.controlType "radio")
                (component "bs-form/element/control/radio")
                (if
                  (bs-eq this.controlType "textarea")
                  (component "bs-form/element/control/textarea")
                  (component "bs-form/element/control/input")
                )
              )
            )
          )
        )
        value=this.value
        id=this.formElementId
        type=this.controlType
        label=@label
        disabled=this._disabled
        readonly=this._readonly
        required=@required
        options=this.options
        optionLabelPath=this.optionLabelPath
        ariaDescribedBy=(if this.hasHelpText this.ariaDescribedBy)
        onChange=(action this.doChange)
        validationType=this.validation
        size=this.size
    ) as |Control|}}
      {{#if hasBlock}}
        {{yield
          (hash
            value=this.value
            setValue=this.doChange
            id=this.formElementId
            validation=this.validation
            control=Control
          )
        }}
      {{else}}
        <Control />
      {{/if}}
    {{/let}}
  {{/component}}
</div>