<div class="row">
  <div class="col-sm-4 col-md-3 order-last">
    <h3 class="sr-only">
      Components
    </h3>
    <BsNav @type="pills" @stacked={{true}} as |nav|>
      {{#each this.model as |comp|}}
        <nav.item>
          <nav.link-to @route={{comp.demoRoute}}>
            {{comp.title}}
          </nav.link-to>
        </nav.item>
      {{/each}}
    </BsNav>
  </div>
  <div class="col-sm-8 col-sm-pull-4 col-md-9 col-md-pull-3">
    {{#if this.isDetailPage}}
      <h1>
        {{currentComponent.title}}
      </h1>
      <p class="lead">
        {{currentComponent.description}}
      </p>
      <ApiReference @component={{this.currentComponent}} />
    {{/if}}
    {{outlet}}
  </div>
</div>
