<div class="card">
  <h1 class="card-header">{{name}} <span class="badge badge-{{access}} small">{{access}}</span></h1>
  <div class="card-body">

    {{{classDescription}}}

  </div>

  <div class="card-footer text-muted">
    <dl class="row m-0">
      {{#if uses}}
        <dt class="col-sm-3">
          Uses
        </dt>
        <dd class="col-sm-9">
          <ul class="list-inline mb-0">
            {{#uses}}
              <li class="list-inline-item"><a href="{{.}}.html">{{.}}</a></li>
            {{/uses}}
          </ul>
        </dd>
      {{/if}}
      {{#if extends}}
        <dt class="col-sm-3">
          Extends
        </dt>
        <dd class="col-sm-9">
          {{#crossLink extends}}{{/crossLink}}
        </dd>
      {{/if}}
      {{#if foundAt}}
        <dt class="col-sm-3">
          Defined in
        </dt>
        <dd class="col-sm-9">
          <a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>
        </dd>
      {{/if}}

      {{#if module}}
        {{#if submodule}}
          <dt class="col-sm-3">
            Module
          </dt>
          <dd class="col-sm-9">
            {{#crossLinkModule submodule}}{{/crossLinkModule}}
          </dd>
          <dt class="col-sm-3">
            Parent Module
          </dt>
          <dd class="col-sm-9">
            {{#crossLinkModule module}}{{/crossLinkModule}}
          </dd>
        {{else}}
          <dt class="col-sm-3">
            Module
          </dt>
          <dd class="col-sm-9">
            {{#crossLinkModule module}}{{/crossLinkModule}}
          </dd>
        {{/if}}
      {{/if}}
      {{#if since}}
        <dt class="col-sm-3">
          Available since
        </dt>
        <dd class="col-sm-9">
          {{since}}
        </dd>
      {{/if}}
    </dl>
  </div>
</div>

{{#if deprecated}}
  <div class="alert alert-warning" role="alert">
    {{#if deprecationMessage}}
      <strong>Deprecated:</strong> {{deprecationMessage}}
    {{else}}
      This class is deprecated.
    {{/if}}
  </div>
{{/if}}

{{#is_constructor}}
  <div class="constructor">
    <h2>Constructor</h2>
    {{>method}}
  </div>
{{/is_constructor}}

{{>options}}

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#index">Index</a></li>

      {{#if methods}}
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#methods">Methods</a></li>
      {{/if}}
      {{#if properties}}
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#properties">Properties</a></li>
      {{/if}}
      {{#if attrs}}
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#attrs">Attributes</a></li>
      {{/if}}
      {{#if events}}
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#events">Events</a></li>
      {{/if}}
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div id="index" class="tab-pane active">
        <h2 class="off-left">Item Index</h2>

        {{#if methods}}
          <div class="index-section methods">
            <h3>Methods</h3>

            <ul class="index-list methods{{#if extends}} extends{{/if}}">
              {{#methods}}
                <li class="index-item method{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if
                  overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
                  <a href="#" data-tabid="#methods" data-anchor="#method_{{name}}" data-tablink="{{name}}">{{name}}</a>

                  {{#if static}}
                    <span class="badge badge-light">static</span>
                  {{/if}}
                  {{#if deprecated}}
                    <span class="badge badge-warning">deprecated</span>
                  {{/if}}
                </li>
              {{/methods}}
            </ul>
          </div>
        {{/if}}

        {{#if properties}}
          <div class="index-section properties">
            <h3>Properties</h3>

            <ul class="index-list properties{{#if extends}} extends{{/if}}">
              {{#properties}}
                <li class="index-item property{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if
                  overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
                  <a href="#" data-tabid="#properties" data-anchor="#property_{{name}}"
                     data-tablink="{{name}}">{{name}}</a>

                  {{#if static}}
                    <span class="badge badge-light">static</span>
                  {{/if}}
                  {{#if deprecated}}
                    <span class="badge badge-warning">deprecated</span>
                  {{/if}}
                </li>
              {{/properties}}
            </ul>
          </div>
        {{/if}}

        {{#if attrs}}
          <div class="index-section attrs">
            <h3>Attributes</h3>

            <ul class="index-list attrs{{#if extends}} extends{{/if}}">
              {{#attrs}}
                <li class="index-item attr{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if
                  overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
                  <a href="#" data-tabid="#attrs" data-anchor="#attr_{{name}}" data-tablink="{{name}}">{{name}}</a>
                </li>
              {{/attrs}}
            </ul>
          </div>
        {{/if}}

        {{#if events}}
          <div class="index-section events">
            <h3>Events</h3>

            <ul class="index-list events{{#if extends}} extends{{/if}}">
              {{#events}}
                <li class="index-item event{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if
                  overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
                  <a href="#" data-tabid="#events" data-anchor="#event_{{name}}" data-tablink="{{name}}">{{name}}</a>

                  {{#if static}}
                    <span class="badge badge-light">static</span>
                  {{/if}}
                  {{#if deprecated}}
                    <span class="badge badge-warning">deprecated</span>
                  {{/if}}
                </li>
              {{/events}}
            </ul>
          </div>
        {{/if}}
      </div>

      {{#if methods}}
        <div id="methods" class="tab-pane">
          {{#methods}}
            {{>method}}
          {{/methods}}
        </div>
      {{/if}}

      {{#if properties}}
        <div id="properties" class="tab-pane">
          {{#properties}}
            {{>props}}
          {{/properties}}
        </div>
      {{/if}}

      {{#if attrs}}
        <div id="attrs" class="tab-pane">
          {{#attrs}}
            {{>attrs}}
          {{/attrs}}
        </div>
      {{/if}}

      {{#if events}}
        <div id="events" class="tab-pane">
          {{#events}}
            {{>events}}
          {{/events}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
