<EmberPopper
  @ariaRole={{this.ariaRole}}
  @placement={{this.placement}}
  @renderInPlace={{this.renderInPlace}}
  @popperTarget={{this.popperTarget}}
  @modifiers={{this.popperModifiers}}
  @popperContainer={{@destinationElement}}
  @onCreate={{this.updatePlacement}}
  @onUpdate={{this.updatePlacement}}
  @id={{@id}}
  @class="tooltip {{@class}} {{if this.fade "fade"}} {{if (has-bootstrap-version 4) (concat "bs-tooltip-" this.actualPlacement)}} {{if (has-bootstrap-version 3) this.actualPlacement}} {{if (has-bootstrap-version 4) (if this.showHelp "show")}} {{if (has-bootstrap-version 3) (if this.showHelp "in")}} {{if (has-bootstrap-version 3) "ember-bootstrap-tooltip"}}"
  ...attributes
>
  <div class={{this.arrowClass}}></div>
  <div class="tooltip-inner">
    {{yield}}
  </div>
</EmberPopper>
