<button
  disabled={{this.__disabled}}
  type="button"
  class="btn {{if this.active "active"}} {{if this.block "btn-block"}} {{this.sizeClass}} {{this.typeClass}}"
  ...attributes
  {{on "click" this.handleClick}}
>
  {{#if this.icon}}<i class={{this.icon}}></i> {{/if}}{{this.text}}{{yield
    (hash
      isFulfilled=this.isFulfilled
      isPending=this.isPending
      isRejected=this.isRejected
      isSettled=this.isSettled
    )
  }}

</button>