{{#if this.showIndicators}}
  <ol class="carousel-indicators">
    {{#each this.indicators as |indicator _index|}}
      <li class={{if (bs-eq this.currentIndex _index) "active"}} onclick={{action "toSlide" _index}} role="button"></li>
    {{/each}}
  </ol>
{{/if}}

<div class="carousel-inner" role="listbox">
  {{yield (hash slide=(component this.slideComponent
    currentSlide=this.currentSlide
    directionalClassName=this.directionalClassName
    followingSlide=this.followingSlide
    orderClassName=this.orderClassName
    presentationState=this.presentationState
  ))}}
</div>

{{#if this.showControls}}
  <a class={{this.prevControlClassName}} href="#{{this.elementId}}" {{action "toPrevSlide"}} role="button">
    <span aria-hidden="true" class={{this.prevControlIcon}}></span>
    <span class="sr-only">{{this.prevControlLabel}}</span>
  </a>
  <a class={{this.nextControlClassName}} href="#{{this.elementId}}" {{action "toNextSlide"}} role="button">
    <span aria-hidden="true" class={{this.nextControlIcon}}></span>
    <span class="sr-only">{{this.nextControlLabel}}</span>
  </a>
{{/if}}
