{{#if showIndicators}}
  <ol class="carousel-indicators">
    {{#each indicators as |indicator _index|}}
      <li class={{if (bs-eq currentIndex _index) "active"}} onclick={{action "toSlide" _index}} role="button"></li>
    {{/each}}
  </ol>
{{/if}}

<div class="carousel-inner" role="listbox">
  {{yield (hash slide=(component slideComponent
    currentSlide=currentSlide
    directionalClassName=directionalClassName
    followingSlide=followingSlide
    orderClassName=orderClassName
    presentationState=presentationState
  ))}}
</div>

{{#if showControls}}
  <a class={{prevControlClassName}} href="#{{elementId}}" {{action "toPrevSlide"}} role="button">
    <span aria-hidden="true" class={{prevControlIcon}}></span>
    <span class="sr-only">{{prevControlLabel}}</span>
  </a>
  <a class={{nextControlClassName}} href="#{{elementId}}" {{action "toNextSlide"}} role="button">
    <span aria-hidden="true" class={{nextControlIcon}}></span>
    <span class="sr-only">{{nextControlLabel}}</span>
  </a>
{{/if}}
