{{#if inDom}}
  {{#maybe-in-element destinationElement _renderInPlace}}
    {{#bs-modal/dialog
      onClose=(action "close")
      fade=fade
      showModal=showModal
      id=modalId
      keyboard=keyboard
      size=size
      backdropClose=backdropClose
      class=class
      inDom=inDom
      paddingLeft=paddingLeft
      paddingRight=paddingRight
      centered=(bs-eq position "center")
    }}
      {{bs-modal/header title=title closeButton=closeButton onClose=(action "close")}}
      {{#bs-modal/body}}
        {{yield
          (hash
            close=(action "close")
            submit=(action "submit")
          )
        }}
      {{/bs-modal/body}}
      {{bs-modal/footer
        closeTitle=closeTitle
        submitTitle=submitTitle
        submitButtonType=submitButtonType
        onClose=(action "close")
        onSubmit=(action "submit")
      }}
    {{/bs-modal/dialog}}

    <div>
      {{#if showBackdrop}}
        <div class="modal-backdrop {{if fade "fade"}} {{if showModal showClass}}" id={{backdropId}}></div>
      {{/if}}
    </div>
  {{/maybe-in-element}}
{{/if}}
