{{#if inDom}}
  {{#maybe-in-element destinationElement _renderInPlace}}
    <BsModal::dialog
      @onClose={{action "close"}}
      @fade={{this.fade}}
      @showModal={{this.showModal}}
      @keyboard={{this.keyboard}}
      @size={{@size}}
      @backdropClose={{this.backdropClose}}
      @inDom={{this.inDom}}
      @paddingLeft={{this.paddingLeft}}
      @paddingRight={{this.paddingRight}}
      @centered={{bs-eq this.position "center"}}
      ...attributes
      @class={{@class}}
      @id={{this.modalId}}
    >
      <BsModal::header @title={{@title}} @closeButton={{this.closeButton}} @onClose={{action "close"}} />
      <BsModal::body>
        {{yield
          (hash
            close=(action "close")
            submit=(action "submit")
          )
        }}
      </BsModal::body>
      <BsModal::footer
        @closeTitle={{this.closeTitle}}
        @submitTitle={{@submitTitle}}
        @submitButtonType={{this.submitButtonType}}
        @onClose={{action "close"}}
        @onSubmit={{action "submit"}}
      />
    </BsModal::dialog>

    <div>
      {{#if this.showBackdrop}}
        <div class="modal-backdrop {{if this.fade "fade"}} {{if this.showModal this.showClass}}" id={{this.backdropId}}></div>
      {{/if}}
    </div>
  {{/maybe-in-element}}
{{/if}}
