{{#if this.customTabs}}
  {{yield
    (hash
      pane=(component this.paneComponent parent=this activeId=this.isActiveId fade=this.fade fadeTransition=this.fadeTransition)
      activeId=this.isActiveId
      select=this.select
    )
  }}
{{else}}
  {{#let (component this.navComponent) as |NavComponent|}}

    <NavComponent @type={{this.type}} role="tablist" as |Nav|>
      {{#each this.navItems as |item|}}
        {{#if item.isGroup}}
          <Nav.dropdown class={{if (bs-contains item.childIds this.isActiveId) "active"}} as |DD|>
            <DD.toggle>{{item.groupTitle}} <span class="caret"></span></DD.toggle>
            <DD.menu as |Menu|>
              {{#each item.children as |subItem|}}
                <Menu.item class={{if (bs-eq this.isActiveId subItem.elementId) "active"}}>
                  <a href="#{{subItem.elementId}}" role="tab" class={{if (bs-eq this.isActiveId subItem.elementId) "nav-link active" "nav-link"}} {{action "select" subItem.elementId}}>
                    {{subItem.title}}
                  </a>
                </Menu.item>
              {{/each}}
            </DD.menu>
          </Nav.dropdown>
        {{else}}
          <Nav.item @active={{bs-eq item.elementId this.isActiveId}}>
            <a href="#{{item.elementId}}" role="tab" class={{if (bs-eq this.isActiveId item.elementId) "nav-link active" "nav-link"}} {{action "select" item.elementId}}>
              {{item.title}}
            </a>
          </Nav.item>
        {{/if}}
      {{/each}}
    </NavComponent>
  {{/let}}

  <div class="tab-content">
    {{yield
      (hash
        pane=(component this.paneComponent parent=this activeId=this.isActiveId fade=this.fade fadeTransition=this.fadeTransition)
        activeId=this.isActiveId
        select=this.select
      )
    }}
  </div>
{{/if}}
