{{#if hasBlock}}
  <label>
    {{yield}}
    {{label}}
  </label>
{{else}}
  <label class="control-label {{if invisibleLabel "sr-only"}} {{labelClass}}" for="{{formElementId}}">{{label}}</label>
{{/if}}