{{!-- template-lint-disable no-positive-tabindex --}}
{{#each @options as |option index|}}
  {{#let (concat @id "-" index) as |id|}}
    {{#if (macroCondition (macroGetOwnConfig "isBS3"))}}
      {{#if this.inline}}
        <label
          for={{id}}
          class="radio-inline"
        >
          <input
            type="radio"
            id={{id}}
            checked={{bs-eq option @value}}
            onclick={{action this.onChange option}}
            name={{@name}}
            required={{@required}}
            disabled={{@disabled}}
            autofocus={{@autofocus}}
            tabindex={{@tabindex}}
            form={{@form}}
            title={{@title}}
            ...attributes
          >
          {{#if hasBlock}}
            {{yield option index}}
          {{else}}
            {{#if @optionLabelPath}}
              {{get option @optionLabelPath}}
            {{else}}
              {{option}}
            {{/if}}
          {{/if}}
        </label>
      {{else}}
        <div class="radio">

          <label
            for={{id}}
          >
            <input
              type="radio"
              id={{id}}
              checked={{bs-eq option @value}}
              onclick={{action this.onChange option}}
              name={{@name}}
              required={{@required}}
              disabled={{@disabled}}
              autofocus={{@autofocus}}
              tabindex={{@tabindex}}
              form={{@form}}
              title={{@title}}
              ...attributes
            >
            {{#if hasBlock}}
              {{yield option index}}
            {{else}}
              {{#if @optionLabelPath}}
                {{get option @optionLabelPath}}
              {{else}}
                {{option}}
              {{/if}}
            {{/if}}
          </label>
        </div>
      {{/if}}
    {{else}}
      <div class="form-check{{if this.inline " form-check-inline"}}">
        <input
          type="radio"
          class="form-check-input"
          id={{id}}
          checked={{bs-eq option @value}}
          onclick={{action this.onChange option}}
          name={{@name}}
          required={{@required}}
          disabled={{@disabled}}
          autofocus={{@autofocus}}
          tabindex={{@tabindex}}
          form={{@form}}
          title={{@title}}
          ...attributes
        >
        <label
          for={{id}}
          class="form-check-label"
        >
          {{#if hasBlock}}
            {{yield option index}}
          {{else}}
            {{#if @optionLabelPath}}
              {{get option @optionLabelPath}}
            {{else}}
              {{option}}
            {{/if}}
          {{/if}}
        </label>
      </div>
    {{/if}}
  {{/let}}
{{/each}}
