<div class="{{this.horizontalInputGridClass}} {{this.horizontalInputOffsetGridClass}}">
  {{#if (macroCondition (macroGetOwnConfig "isBS3"))}}
    <div class="checkbox">
      <@labelComponent>
        {{yield}}
      </@labelComponent>
    </div>
    <@errorsComponent/>
    <@helpTextComponent/>
  {{else}}
    <div class="form-check">
      {{yield}}
      <@labelComponent/>
      <@errorsComponent/>
      <@helpTextComponent/>
    </div>
  {{/if}}
</div>