{{! @glint-nocheck }}
<a
  href="#"
  class="dropdown-toggle {{if @inNav "nav-link"}}"
  aria-expanded={{this.aria-expanded}}
  role="button"
  ...attributes
  {{on "keydown" this.handleKeyDown}}
  {{on "click" this.handleClick}}
  {{did-insert @registerChildElement "toggle"}}
  {{will-destroy @unregisterChildElement "toggle"}}
>
  {{yield}}
</a>